body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  background: #1a2b45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.nameplate {
  text-align: left;
  position: absolute;
}

.door {
  background: #fafafa;
  width: 100px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}

.reel {
  /* transition-timing-function: ease-in-out; */
  /* transition: transform 1s ease-in-out; */
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.name {
  font-size: 15px;
}